* {
  margin: 0;
  padding: 0;
}

.counters {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: inline;
  margin: 30px;
  border: 1px solid yellow;
  border-radius: 5px;
  background-color: yellow;
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
}
